
@use './Chat/Chat.scss';
@use './Header/Header.scss';
@use './Footer/Footer.scss';
@use './Landing/Landing.scss';


:root{
    --Input-Background: rgb(241, 241, 241);
    --Main-Color: #f89a3a;
    --Primary-Color: #309C53;
    --Box-Shadow-Color: 0px 0px 10px rgba(0, 0, 0, 0.5);
    --Regular-Font-Color: #4A6F8A;
    --Headlines-Color: #232323;
    --Gray-Color: #CBCBCB;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;

}


h1, h2 , h3, h4 , h5 , h6, p, div{
    margin: 0;
    padding: 0;
}


button{
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Noto Kufi Arabic' !important;
}

input{
    font-family: 'Noto Kufi Arabic';
    border: none;
    outline: none;
    font-weight: 600;
    text-align: right;

    &::placeholder{
        text-align: right;
    }
}


a{
    text-decoration: none;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .spinner {

    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}



input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

  }



  .cookies-acceptace-container{
    height: 55px;
    width: 100%;
    background-color: var(--Primary-Color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    color: white;
    z-index: 1;

    .Icon{
        font-size: 30px;
        cursor: pointer;
    }

    a{
        color: white;
        text-decoration: underline;
    }
  }


.loading-page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary-Color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    .spinner{
        width: 60px;
        height: 60px;
        position: relative;

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0);
            }
            
            50% {
                transform: scale(1);
            }
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            opacity: .6;
            position: absolute;
            top: 0;
            left: 0;
            animation: sk-bounce 2s infinite ease-in-out;
        }

        .double-bounce2 {
            animation-delay: -1s;
        }
    }
}




@media (max-width: 1063px) {
    .cookies-acceptace-container{
        height: 50px;
        justify-content: space-between;

        .Icon{
            font-size: 25px;
            flex-shrink: 0;
            margin-left: 20px;
        }
    
        p{
            font-size: 13px;
            margin-right: 20px;
        }
      }
}


@media (max-width: 821px) {
    .cookies-acceptace-container{
        height: fit-content;
        justify-content: space-between;
        padding: 20px 0px;
        .Icon{
            font-size: 20px;
            flex-shrink: 0;
            margin: 0px 20px;
        }
    
        p{
            font-size: 12px;
 
        }
      }
}